#loading_spinner { display:none; }

* {margin:0;padding:0;} 

body {
	background-color: #F5F5F5;
	border-top: 0px solid #FBB13D;
	border-bottom: 5px solid #FBB13D;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

span.red { /* for styling title */
color: #FBB13D;
}

a {
color: #FBB13D;
}

/*
   +---------------------------------------------------------------------------+
   |																			|
   |							HEADER REGION STYLES	  						|
   |																			|
   +---------------------------------------------------------------------------+
 */

#menuhead {
height: 20px;
	padding-bottom: 10px;
}
#menuehead > ul{
        list-style: 0;
        margin-top:5px;
        margin-bottom: 5px;
}

#menuhead >  ul > li{
        padding-left: 5px;
        display: inline;
         margin-bottom: 5px;
}

#menuhead > ul > li:first-child{
        margin-left: 0;
        padding-left: 0;
}

#lefthead {
height: 80px;
	padding-bottom: 5px;
}

#lefthead > h1{
	padding-top: 10px;
	height: 50px;
	font-size: 3.5em;
	margin-bottom: 0;
}

#lefthead > ul{
	list-style: 0; 
	margin-top:10px;
	margin-bottom: 0px;
}

#lefthead >  ul > li{
	padding-left: 35px;
	display: inline;
	 margin-bottom: 0px;
}

#lefthead > ul > li:first-child{
	margin-left: 0;
	padding-left: 0;
}

#righthead {
height: 80px;
	text-align: right;
	padding-bottom: 5px;
}

#upperRightHead {
	margin-top: 1px;
	height: 30px;
	margin-bottom: 0px;
}

/* search box */
#righthead > form > input[type=text]{
	font-size: 1em;
height: 30px;
width: 80%;
}

#search_button {
margin-top: 5px;
	border-radius: 0;
height: 30px;
border:none;
       background-color: #FBB13D;
color: white;
width: 15%;
       font-size: 1.2em;
}

#search_button:hover {
	background-color: #2196F3;
}
/* headlinks are found at the top right of the header. All but logout */
.headLink:link, .headLink:visited, .headLink:active{
	font-size: 1.2em;
	font-weight: bold;
color: #FBB13D;
       text-decoration: underline;
}

.headLink:hover{
	background-color: #FBB13D;
color: white;
}

/* mainly for logout button. Makes button look like link */
.linkButton {
	background-color: transparent;
	text-decoration: underline;
	font-size: 1.2em;
	font-weight: bold;
color: #FBB13D;
border: none;
cursor: pointer;
}

.linkButton:hover {
	background-color: #FBB13D;
color: white;
}

/*
   +---------------------------------------------------------------------------+
   |																			|
   |							CONTENT REGION STYLES	  						|
   |																			|
   +---------------------------------------------------------------------------+
 */

#content {
	min-height: 600px;			/* for sticky footer -- changed */
height: auto !important;	/* for sticky footer */
height: 100%;				/* for sticky footer */
margin: 0 auto ;		/* for sticky footer */ 
	font-size: 16px;
}

#content h1 {
	margin-top: 10px;
}

/*
   +-----------------+
   |	CONTENT 	  |
   |	FORM STYLES	  |
   +-----------------+
 */

/* small text entry boxes */
.contentInput{
	font-size: 1em;
height: 30px;
}

/* submit buttons - red box style*/
.contentSubmit {
	border-radius: 0;
height: 30px;
border:none;
       background-color: #FBB13D;
color: white;
width: 150px; /* 15% */
       font-size: 1.2em;
}

select {
    padding:3px;
    margin: 0;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    background: #f8f8f8;
    color:#888;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
}

/*
   +---------------------------------------------------------------------------+
   |																			|
   |							FOOTER REGION STYLES	  						|
   |																			|
   +---------------------------------------------------------------------------+
 */

#footer {
height: 50px;
	text-align: center;
	vertical-align: middle;
}

#footer a {
color: #000;
       text-decoration: none;
}

.button {
	margin-top: 2px;
	display: inline;
	 border-radius: 0;
	height: 20px;
	border: none;
	background-color: #2eb8f7;
	color: white;
	width: 80px;
}
.large_button {
	margin-top: 2px;
	display: inline;
	 border-radius: 0;
	height: 20px;
	border: none;
	background-color: #2eb8f7;
	color: white;
	width: 100px;
}
.group {
	text-align: left;
        height: 60px;
        width: 510px;
        margin-right: auto;
        margin-left: auto;
        padding-top: 10px;
        padding-bottom: 10px;
}
