@charset "utf-8";
.media_tag {
	height: 130px;
	width: 410px;
	margin-right: auto;
	margin-left: auto;
	text-align: left;
	padding-bottom: 10px;
}
.picture {
	float: left;
	height: 120px;
	width: 120px;
	padding-right: 10px;
}
.title {
	font-weight: bold;
	float: left;
	width: 280px;
}
.author {
	float: left;
	font-size: 14px;
	width: 280px;
}
.rating {
	float: left;
	width: 280px;
}
.view {
	float: left;
	width: 280px;
}
.description {
	float: left;
	width: 280px;
}

